[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyephem = "*"
gunicorn = "*"
flask = "*"
uvicorn = "*"
requests = "*"
googletrans = "*"
bs4 = "*"
sys = "*"
googletrans = "*"
webbrowser = "*"
urllib = "*"
difflib = "*"
re = "*"

[dev-packages]

[requires]
python_version = "3.7.3"
